<div class="row">

  <div class="col-sm-12">
    <h1>All Records
      <button class="btn btn-success pull-right" data-toggle="modal" data-target="#newRecordModal">
        <span class="glyphicon glyphicon-plus"></span> Add record
      </button>
    </h1>
    <table class="table">
      <tr>
        <th>Type</th>
        <th>Date</th>
        <th>Source</th>
        <th>Amount</th>
        <th>Description</th>
        <th>Notes</th>
        <th></th>
      </tr>
      <tr ng-repeat="record in records track by $index" ng-class="{warning: record.recordType == 'expense', info: record.recordType == 'income'}">
        <td>{{record.recordType | uppercase}}</td>
        <td>{{record.date | date : mediumDate}}</td>
        <td>{{record.source}}</td>
        <td>{{record.amount | number : 2}}</td>
        <td>{{record.description}}</td>
        <td>{{record.notes}}</td>
        <td>
          <button class="btn btn-xs btn-warning" data-toggle="modal" data-target="#removeRecordModal" ng-click="recordFunction.currentRecordIndex($index)">
            <span class="glyphicon glyphicon-remove"></span> Remove
          </button>
        </td>
      </tr>
    </table>
  </div>

  <div class="modal fade" id="newRecordModal" tabindex="-1">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
          <h4 class="modal-title" id="myModalLabel">Add record</h4>
        </div>
        <div class="modal-body">
          <div class="form-group btn-group btn-group-justified">
            <a class="btn btn-success" ng-click="recordFunction.chooseType('expense')" ng-class="{active: draftRecord.recordType == 'expense'}">Expense</a>
            <a class="btn btn-success" ng-click="recordFunction.chooseType('income')" ng-class="{active: draftRecord.recordType == 'income'}">Income</a>
          </div>
          <div class="row">
            <div class="form-group col-md-12">
              <input type="text" class="form-control" placeholder="Source" ng-model="draftRecord.source">
            </div>
          </div>
          <div class="row">
            <div class="form-group col-md-12">
              <input type="date" class="form-control" ng-model="draftRecord.date">
            </div>
          </div>
          <div class="row">
            <div class="form-group col-md-12">
              <input type="number" class="form-control" placeholder="Amount ($)" ng-model="draftRecord.amount">
            </div>
          </div>
          <div class="row">
            <div class="form-group col-md-12">
              <input type="text" class="form-control" placeholder="Description" ng-model="draftRecord.description">
            </div>
          </div>
          <div class="row">
            <div class="form-group col-md-12">
              <textarea class="form-control" rows="4" placeholder="Notes" ng-model="draftRecord.notes"></textarea>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-success btn-block" ng-click="recordFunction.saveRecord()" data-dismiss="modal">Submit</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="removeRecordModal" tabindex="-1">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title" id="myModalLabel">Remove record</h4>
        </div>
        <div class="modal-body">
          <div class="alert alert-danger" role="alert">Are you sure you want to remove this record?</div>
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">{{records[currentRecordIndex].description}}</h3>
            </div>
            <div class="panel-body">
              <dl>
                <dt>Type</dt>
                <dd>{{records[currentRecordIndex].recordType | uppercase}}</dd>
                <dt>Date</dt>
                <dd>{{records[currentRecordIndex].date}}</dd>
                <dt>Source</dt>
                <dd>{{records[currentRecordIndex].source}}</dd>
                <dt>Amount</dt>
                <dd>{{records[currentRecordIndex].amount}}</dd>
              </dl>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-danger btn-block" ng-click="recordFunction.deleteRecord(currentRecordIndex)" data-dismiss="modal">Remove</button>
        </div>
      </div>
    </div>
  </div>

</div>